<div class="row top-header">
      <h1 class="col-10">Notebooks</h1>

      <a href="<%= new_notebook_path %>" class="card-link col-2 btn btn-secondary" id="add-note">
        <button type="button" class="btn btn-secondary" >Add Note</button>
      </a>
</div>
<div class="search bar row">
    <%= link_to "Sort", notebooks_sort_path(:sort_by_col=>"title-asc",:search_by_contain=>params[:search_by_contain]), method: :get,class:"col-2 bar-button btn btn-secondary",id:"sort_button" %>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Notes Created</a></li>
    <li><a class="dropdown-item" href="#">Notes Liked</a></li>
    <li><a class="dropdown-item" href="#">Notes Commented</a></li>
  </ul>
</div>

<div class="row card-container notes" id="notes">
    <% @notes.each do |note| %>
    <%= render partial: 'parts/card', locals: { note: note } %>
    <% end %>
</div>
</div>


