<div class="row top-header">
      <h1 class="col-10">Notebooks</h1>

      <a href="<%= new_notebook_path %>" class="card-link col-2 btn btn-secondary" id="add-note">
        <button type="button" class="btn btn-secondary" >Add Note</button>
      </a>
</div>
<div class="button-group">
  <%= link_to "Grid", notebooks_path, method: :get,class:"col-2 bar-button btn btn-secondary",id:"sort_button" %>
</div>
<div class="search bar row">

    <div id="sort-description">
      Please click on a column to sort
    </div>
</div>
<div class="grid-notes" id="note-grid">
  <table class="table table-striped table-dark table-bordered">
    <thead>
      <%= render partial: 'parts/grid-header' %>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
        <%= render partial: 'parts/grid', locals: { note: note } %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
