
    <tr>
      <th>
      <a href="<%= notebooks_sort_path(:sort_by_col=>NotebooksHelper.checkSortDirection("title",params[:sort_by_col]),:search_by_contain=>params[:search_by_contain]) %>" id="title-sort">
        <span>Title</span>
        <% if params[:sort_by_col].include?("title") %>
          <% if params[:sort_by_col].split("-")[1].include?("asc") %>
            <i class="fa fa-sort-down" aria-hidden="true"></i>
          <% end %>
          <% if params[:sort_by_col].split("-")[1].include?("desc") %>
            <i class="fa fa-sort-up" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </a>
      </th>
      <th>
      <a href="<%= notebooks_sort_path(:sort_by_col=>NotebooksHelper.checkSortDirection("description",params[:sort_by_col]),:search_by_contain=>params[:search_by_contain]) %>" id="description-sort">
        <span>Description</span>
        <% if params[:sort_by_col].include?("description") %>
          <% if params[:sort_by_col].split("-")[1].include?("asc") %>
            <i class="fa fa-sort-down" aria-hidden="true"></i>
          <% end %>
          <% if params[:sort_by_col].split("-")[1].include?("desc") %>
            <i class="fa fa-sort-up" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </a>
      </th>
      <th>
      <a href="<%= notebooks_sort_path(:sort_by_col=>NotebooksHelper.checkSortDirection("created_at",params[:sort_by_col]),:search_by_contain=>params[:search_by_contain]) %>" id="created-sort">
        <span>Created at</span>
        <% if params[:sort_by_col].include?("created_at") %>
          <% if params[:sort_by_col].split("-")[1].include?("asc") %>
            <i class="fa fa-sort-down" aria-hidden="true"></i>
          <% end %>
          <% if params[:sort_by_col].split("-")[1].include?("desc") %>
            <i class="fa fa-sort-up" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </a>
      </th>
    </tr>