<div class="column-row">
      <div class="column-box column-size-1"><%= note.title %></div>
      <div class="column-box column-size-3"><%= note.description%></div>
      <div class="column-box column-size-1"><%= note.created_at%> </div>
      
</div>