<% NotebooksHelper.getTagsForNotebook(note).each do |tagRow| %>
        <a href="<%= notebooks_search_url({search_by_contain: tagRow.tag})%>"><div class="tag-display">
            <%= tagRow.tag %>
        </div></a>
<% end %>