// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "application";

.card-link{
    color:$color-white;
    text-decoration: none;
}

.card-text{
    height:150px;
    overflow: hidden;
}
.top-header{
    margin:0 20px;
}

.notes {
  display: flex;
  flex-direction: row;
  justify-content: left;
  .note-card {
    flex: 1;
    max-width:50%;
    min-width: 15em;
    padding: 0 0.25em;
  }
  @media (max-width: 32em) {
    .note-card {
      max-width: 100%;
    }
  }
}


.show-notes {
  flex: 1;
  display: flex;
  .main-panel, .contents-panel {
    min-width: 80vh;
    overflow-y: scroll;
    flex: 3;
  }
  .comments-panel {
    flex: 1;
    min-width: 30em;
    min-height: min-content;
    overflow-y: scroll;
    .list-group {
      overflow-y: scroll;
      flex: 1;
    }
    .comment-container {
      height: 100%;
      padding-bottom: 2em;
    }

  }
  .comments-body {
    height: 40vh;
    min-height: 80%;
  }

}

.search{
  .bar-button{
    margin:10px;
  }
}
