/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5'; //application.scss
$color-white: #F5F5F5;
$center-distance-header: 30px;
$background-black: #121212;
$base-color: lighten($background-black, 12%);
$border-dark: rgba($base-color, 0.88);
$background-black-l1: rgba($background-black, 0.60);
$background-black-l2: rgba($background-black, 0.80);
$accent-color: lighten(adjust-color($base-color, $red: 15, $blue: 150, $green: 50), 4%);
$background-black-l3: rgba($accent-color, 0.1);

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  > .application {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  * {
    color: $color-white;
  }
}
.header{
     color:$color-white;
     display:flex;
}
.header-bar{
    margin-left:0px;
}
.main-header-section{
  width: 80vw;
}

.header-title{
    
    color:$color-white;
    text-decoration: none;
}
.main-bar{
    padding: $center-distance-header;
}

.login-button{
    margin-top:  $center-distance-header;
}

.main-section{
  margin:0px;
  flex: 1;
  max-height:90vh;
  overflow-y: auto;
}
.main-inside-section{
  padding:5vh 50px;
  color:$color-white;
  flex-direction: column;
  display: flex;
  min-height: 80vh;
}
.footer{
    height:5vh;

}
.footer-large{
    height:0vh;

}
.bg-dark-l0{
    background-color: $background-black;
}
.bg-dark-l1{
    background-color: $background-black-l1;
}
.bg-dark-l2{
    background-color: $background-black-l2;
}
.bg-dark-l3 {
  background-color: $background-black-l3;
}

.main-card{
    margin-bottom:20px;
}
.search-section{
  padding:10px;
  padding-left:30px;
}
body {
  background-color: $base-color;
}
.header-section {
  background-color: lighten($base-color, 10%);
}
.main-inside-section {
  background-color: darken($base-color, 5%);
}
.simple-wrapper {
  display: inline-flex;
}
.crumb-holder {
  background-color: darken($base-color, 10%);
  border-bottom: darken($base-color, 15%);

  a {
    color: $accent-color;
    text-decoration: none;
  }
  padding: 1.5em;
  height: 2em;
  color: $color-white;
}

.list-group-item {
  background-color: rgba($base-color, 30%);
}

a:hover {
  color: mix($accent-color, $color-white);
}

.button-group {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  div {
    flex-shrink: 1;
    offset-distance: 1em;
    margin: 0 1em;
  }
}