@import "application";

.comment-container {
  background-image: asset-url("speech-bubble.png");
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 50%;
  background-position: left top;

  .list-group-item {
    background-color: rgba($background-black-l3, 0.3);
  }
}
