// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "application";

.main-card {
  background-image: asset-url("glasses.png");
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 50%;
  background-position: center bottom;
}
.card-link{
    color:$color-white;
    text-decoration: none;
}

.card-text{
    height:150px;
    overflow: hidden;
}
.form-group{
  margin:10px 0;
}

.notes {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 1410px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 1060px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 725px) {
    grid-template-columns: 1fr;
  }
  .note-card {
    padding: 0 0.25em;
    .card-footer {
      height: 3em;
    }
  }
}


.show-notes {
  flex: 1;
  display: flex;
  .main-panel, .contents-panel {
    min-width: 65vw;
    overflow-y: auto;
    flex: 3;
  }
  .comments-panel {
    flex: 1;
    min-width: 16em;
    min-height: min-content;
    overflow-y: auto;
    .list-group {
      overflow-y: auto;
      flex: 1;
    }
    .comment-container {
      height: 100%;
      padding-bottom: 2em;
    }

  }
  .comments-body {
    height: 40vh;
    min-height: 80%;
    * {
      color: $color-white;
    }
  }

}

.search {
  .bar-button{
    margin:10px;
  }
}

.filter{
  display: flex;
  .filter_button{
    margin: 10px;
    background-color: #7c7c7c;
    text-decoration-color: #0c0c0c;
    flex-shrink: 1;
  }
}

.likes {
  font-size: 1.4em;
  display: flex;
  .like-wrapper {
    background-color: rgba($color-white, 0.1);
    padding: 0.2em 1em;
    flex-shrink: 1;
  }
}
.like-button {
  color: $color-white;
  text-decoration: none;
  .icon {
    padding-right: 1em;
  }
}
.like-wrapper {
  margin-right: auto;
}