<div class="d-flex bd-highlight mb-3 p-2">
  <div class="mr-auto" style="margin-right: auto;">
    <div class="header">
        <a href="/" class="header-title owledge_logo" id="owledge_logo"><h1>Owledge</h1></a>
    </div>
  </div>
  <%= render 'layouts/login_section' %>
</div>
<% if flash[:error].present? %>
<div class="alert alert-warning" style="margin:0px">
  <%=  flash[:error]  %>
</div>
<% end %>
<%  %>
<% if notice.present? %>
<div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert.present? %>
<div class="alert alert-danger"><%= alert %></div>
<% end %>
