<div class="col-12 bg-dark-l0 row header-bar" >
    <div class="col-11 main-bar">
        <div class="header">
            <a href="/notebooks" class="header-title owledge_logo" id="owledge_logo"><h1>Owledge</h1></a>
        </div>
    </div>
    <div class="col-1">
        <%= render 'layouts/login_section' %>
    </div>
</div>