<div class="p-1">
  <% if user_signed_in? %>
    <a class="btn btn-secondary" href="<%= edit_user_registration_path %>" aria-label="Edit Profile">Edit Profile</a>
  <% else %>
    <a class="btn btn-secondary" href="<%= new_user_registration_path %>" aria-label="Register">Register</a>
  <% end %>
</div>
<div class="p-1">
  <% if user_signed_in? %>
    <a class="btn btn-secondary" href="<%= destroy_user_session_path %>" aria-label="Log out">Log out</a>
  <% else %>
    <a class="btn btn-secondary" href="<%= login_path %>" aria-label="Login">Login</a>
  <% end %>
</div>