<div class="row top-header">
      <h1 class="col-10">Notebooks</h1>

      <a href="/notebooks/create" class="card-link col-2">
        <button type="button" class="btn btn-secondary" id="add-note">Add Note</button>
      </a>
</div>

<div class="row card-container">


    <% @notes.each do |note| %>
    <div class="card bg-dark-l2 col-3 main-card" >
      <a href="<%= notebook_path(note.id) %>" class="card-link" id="note_<%= note.id %>">
        <div class="card-body">
          <h5 class="card-title"><%= note.title %></h5>
          <p class="card-text"><%= note.description.nil?  ? "" : note.description[0..300] %></p>
        </div>
      </a>
    </div>
    <div class="col-1" >
    </div>
    <% end %>
</div>
</div>
