<div class="row top-header">
  <h1 class="col-10">Notebooks</h1>

  <a href="<%= notebook_path({parent: @note}) %>" class="card-link col-2">
    <button type="button" class="btn btn-secondary" id="add-note">Add Note</button>
  </a>
</div>
